.regform {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    align-self: center;
}

input {
    margin: 5px 20px;
    border: 2px solid black;
}

.valid-input {
    color: green;
}

.invalid-input {
    color: red;
}